@model Bai_thi.Entities.AddNewPage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>AddNewPage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamDate" class="control-label"></label>
                <input asp-for="ExamDate" class="form-control" />
                <span asp-validation-for="ExamDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamDuration" class="control-label"></label>
                <input asp-for="ExamDuration" class="form-control" />
                <span asp-validation-for="ExamDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassRoomId" class="control-label"></label>
                <select asp-for="ClassRoomId" class ="form-control" asp-items="ViewBag.ClassRoomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubjectsId" class="control-label"></label>
                <select asp-for="SubjectsId" class ="form-control" asp-items="ViewBag.SubjectsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FacultiesId" class="control-label"></label>
                <select asp-for="FacultiesId" class ="form-control" asp-items="ViewBag.FacultiesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
